@(modelDefForm: Form[_])

@main("Kiji Viz Studio: ModelDefinition Editor") {

<div class="row">
  <div>&nbsp;</div>
  <div class="text-center"><h2>This is the ModelDefinition Editor.</h2></div>

  <div>
    @helper.form(action = routes.ModelDef.submit) {
      @helper.inputText(modelDefForm("name"))
      @helper.inputText(modelDefForm("version"))
      @helper.inputText(modelDefForm("extractor class name"))
      @helper.inputText(modelDefForm("scorer class name"))
      <input type="submit" class="btn primary" value="Submit">
    }
  </div>
</div>

}
